<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- mysql数据库名称 -->
        <property name="hibernate.connection.url">
            <![CDATA[jdbc:mysql://123.56.18.146:3306/store?useUnicode=true&characterEncoding=utf8]]>
        </property>
        <property name="hibernate.connection.username">root</property>
        <!-- 数据库的登陆密码 -->
        <property name="hibernate.connection.password">123456789</property>
        <!-- 数据库的登陆用户名 -->
        <!-- mysql数据库驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- 数据库的登陆密码 -->
        <!-- 数据库的登陆用户名 -->

        <!-- <property name="hibernate.connection.username">root</property> -->
        <!-- 数据库的登陆密码 -->
        <!--  <property name="hibernate.connection.password">200913867</property> -->
        <!-- 方言：为每一种数据库提供适配器，方便转换 -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping resource="hibernate/config/BreakgoodsEntity.hbm.xml"/>
        <mapping class="entity.BreakgoodsEntity"/>
        <mapping class="entity.GoodsEntity"/>
        <mapping resource="hibernate/config/GoodsEntity.hbm.xml"/>
        <mapping resource="hibernate/config/IngoodsEntity.hbm.xml"/>
        <mapping class="entity.IngoodsEntity"/>
        <mapping resource="hibernate/config/KindEntity.hbm.xml"/>
        <mapping class="entity.KindEntity"/>
        <mapping resource="hibernate/config/OutgoodsEntity.hbm.xml"/>
        <mapping class="entity.OutgoodsEntity"/>
        <mapping resource="hibernate/config/ProductorEntity.hbm.xml"/>
        <mapping class="entity.ProductorEntity"/>
        <mapping resource="hibernate/config/StaffEntity.hbm.xml"/>
        <mapping class="entity.StaffEntity"/>
        <mapping resource="hibernate/config/VIngoodsEntity.hbm.xml"/>
        <mapping class="entity.VIngoodsEntity"/>
        <mapping resource="hibernate/config/VOutgoodsEntity.hbm.xml"/>
        <mapping class="entity.VOutgoodsEntity"/>
        <!-- 引入Users实体和数据库的映射文件 -->
        <!-- 指定自动生成数据表的策略 -->
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>

